<%= stylesheet_link_tag "groups" %>
<div class="container">
  <h1>
    Groups Page
  </h1>
  <%= form_tag(groups_path, method: "post",class: "form-inline") do %>
  <div class="col-auto my-4">
        <label>
          Enter Your Group Name
        </label>
  </div>
    <%= text_field_tag(:name, "", class: "form-control col-5", placeholder: 'e.g OS Track')%>
    <div class="col-auto my-1">
      <%= submit_tag("Add Group",class: "btn btn-success") %>
    </div>
  <% end %>
  <% flash.each do |type, msg| %>
    <% if msg == "Group was successfully created." %>
      <div class="alert alert-success col-6">
        <%= msg %>
      </div>
    <% else %>
    <div class="alert alert-danger col-4">
        <%= msg %>
      </div>
    <% end %>
<% end %>
  <div class="row">
    <div class="panel-body col-4">
      <h2>Groups List</h2>
      <div>
        <ul class="list-group myBorder">
        <% for group in @groups %>
        <li class="list-group-item groups">
          <strong class="groupsName"><%= group.name %></strong>
          <%= link_to 'X', group, method: :delete, data: { confirm: 'Are you Sure you want to Delete this Group?' },class: "btn btn-danger controllers" %>
          <%= link_to 'Show', group_path(group), remote: true,class: "btn btn-info controllers" %>
        </li>
        
        <% end %>
      </ul>
      </div>
    </div>
    <div class="panel-body col-8">
      <h2>Friends List</h2>
      <div class="myBorder">
      
        <%= form_tag(friendships_add_friend_by_name_path, method: "post",class: "form-inline") do %>
      <div class="col-auto my-4">
            <label>
              Enter Your Friend Name
            </label>
      </div>
        <%= text_field_tag(:user_email, "", class: "form-control col-5")%>
        <div class="col-auto my-1">
          <%= submit_tag("Add Friend",class: "btn btn-success") %>
        </div>
      <% end %>
        <div id="friendsList">
            <ul class="list-group">
              <% for friend in @group_friends %>
              <li class="list-group-item">
                <strong><%= friend.user.email%></strong>
                <%= link_to "Remove", group_friend_path(friend), :method => :delete,class: "btn btn-danger controllers" %>
              </li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>