<html>
  <head>
    <%= stylesheet_link_tag "welcome" %>
  </head>
  <div class="h1" style="background-color:lightskyblue;color:white;text-align:center">Home</div>
  <body>
    <div id="bodycontainer">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="margin-top:20px;">
            <div class="card-body">
            <div class="alert alert-info" role="alert">
            Last Orders
          </div>

              <div class="dbdata">
                          
                        <% @orderAll.each do |oderuser| %>
                        
                              <p>
                                      <%= oderuser.order_type %>
                                      : Order at 
                                    <%= oderuser.created_at.strftime("%m/%d/%Y")%>
                                      
                              </p>   
                              
                        <% end %>
                        
                        </div>
                      
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card " style="margin-top:20px;">
            <div class="card-body">
            <div class="alert alert-info" role="alert">
            Friends Activity
          </div>

            <div class="dbdata">
            <% @friendsOrders.each do |orderuser| %>
              <% orderuser.each do |oderuser| %>
                <p>
                        <%= oderuser.user.email %>
                        : Has Created An Order From
                        <%= oderuser.restaurant%>
                        
                </p>
                 
              <% end %>
            <% end %>
            
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
