<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Order_for %>
    <%= form.select :order_type, options_for_select(["Breakfast", "Launch", "Dinner"]) %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id, options_for_select(["Elmohamady", "Elbrens", "Sobhy"]) %>
  </div>

  <div class="field">
    <%= form.label :Friends %>
    <select value="" name="order_friends[]" id="order_friends" multiple='multiple'>
      <option>Select Friend</option>
      <%for myFriend in @friends%>
        <option value=<%=myFriend.friend_id%>>
          <%= myFriend.friend.email%>
        </option>
      <% end %>
    </select>
  </div>
  <div class="field">
    <%= form.label :Menu_Image %>
    <%= file_field_tag 'picture' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
