<!DOCTYPE html>
<html lang="en">
<head>
  <title>Orders</title>
  <%= stylesheet_link_tag "main2" %>
  <%= stylesheet_link_tag "util" %>
</head>
<body>
<div class="h1" style="background-color:lightskyblue;color:white;text-align:center">Orders</div>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Order ID
							</div>
							<div class="cell">
								Ordered For
							</div>
							<div class="cell">
								Restaurant
							</div>
							<div class="cell">
								User
							</div>
							<div class="cell">
								Show
							</div>
							<div class="cell">
								Edit
							</div>
							<div class="cell">
								Delete
							</div>
										
						</div>
						<% @orders.each do |order| %>
							<div class="row">
								<div class="cell" data-title="Order ID">
									<%= order.id %>
								</div>
								<div class="cell" data-title="Ordered For">
									<%= order.order_type %>
								</div>
								<div class="cell" data-title="Restaurant">
									<%= order.restaurant %>
								</div>
								<div class="cell" data-title="User">
									<%= order.user.email %>
								</div>
								<div class="cell" data-title="Show">
									<%= link_to 'Show', order %>
								</div>
								<div class="cell" data-title="Edit">
									<%= link_to 'Edit', edit_order_path(order) %>
								</div>
								<div class="cell" data-title="Delete">
									<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
								</div>
							</div>
						<% end %>
					</div>
			</div>
		</div>
  </div>
  <div class="h1" style="background-color:lightskyblue;text-align:center">
    <%= link_to 'New Order', new_order_path ,:style=>'color: white;'%>
  </div>

</body>
</html>