<p id="notice"><%= notice %></p>

<div>
  <strong>Order For:</strong>
  <%= @order.order_type %>
</div>


<div>
  <strong>Restaurant:</strong>
  <%= @order.restaurant %>
</div>

<div>
  <strong>Menu Image:</strong>
  <%= image_tag(@order.picture,:class => "image",style: 'width:400px;height:auto') if @order.picture.attached? %>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
