<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_friend.order_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order_friend.user_id %>
</p>

<%= link_to 'Edit', edit_order_friend_path(@order_friend) %> |
<%= link_to 'Back', order_friends_path %>
