<!DOCTYPE html>
<html>
  <head>
    <title>Notlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome <%= current_user.email %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="" class="nav-link headerLink">Home</a>
                </li>
                <li class="nav-item active">
                    <a href="/friendships" class="nav-link headerLink">Friends</a>
                </li>
                <li class="nav-item active">
                    <a href="/groups" class="nav-link headerLink">Groups</a>
                </li>
                <li class="nav-item active">
                    <a href="/orders" class="nav-link headerLink">Orders</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" id="Notification" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- Single button -->
                        <div class="btn-group pull-right top-head-dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notification <span class="caret badge badge-danger">0</span>
                        </button>
                        <ul id="NotificationList" class="dropdown-menu dropdown-menu-right">
                            <% for notification in @my_notifications %>
                                <li>
                                <a href="#" class="top-text-block">
                                    <div class="top-text-heading"><b><%= notification.order.user.email%></b> invited You to Have a <%= notification.order.order_type%></div>
                                    <div class="top-text-light"><%= notification.created_at.strftime("%Y-%m-%d: %I:%M %p")%></div>
                                </a> 
                                </li>
                            <% end %>
                        </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active" id="logoutList" >
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete ,:class => "btn btn-danger"%>
            </li>
        </ul>
    </nav> 
    <% end %>
    <%= yield %>
  </body>
</html>
